<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="autoMergeJavaModel" value="false" />
        <option name="useActualParamNames" value="true" />
        <option name="usejava8LocalDateTimeEct" value="true" />
        <option name="userMacSet">
          <set>
            <option value="06-9E-BA-84-98-B3" />
            <option value="B0-25-AA-2D-01-50" />
          </set>
        </option>
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>