<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="autoMergeJavaModel" value="false" />
        <option name="generateWithIfTest" value="true" />
        <option name="theUsageCount" value="1641430664764" />
        <option name="useActualParamNames" value="true" />
        <option name="usejava8LocalDateTimeEct" value="true" />
        <option name="userMacSet">
          <set>
            <option value="06-9E-BA-84-98-B3" />
            <option value="36-09-AD-E0-EC-04" />
            <option value="56-7B-26-EF-10-80" />
            <option value="5A-09-1F-59-39-55" />
            <option value="6E-1E-E9-8A-C0-53" />
            <option value="82-54-99-88-EB-05" />
            <option value="B0-25-AA-2D-01-50" />
            <option value="C6-7C-F9-8B-76-A3" />
          </set>
        </option>
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>